[submodule "modules/editors/emacs/doom"]
	path = modules/editors/emacs/doom
	url = https://github.com/klchen0112/doom
[submodule "modules/im/rime"]
	path = modules/im/rime
	url = https://github.com/klchen0112/rime-combo-ice-pinyin.git
