fish/*
result
starship.toml
kitty
bat
wezterm
git
sioyek
fontconfig
environment.d
evolution
Code
dconf
pulse
.gsd-keyboard.settings-ported
gnome-initial-setup-done
user-dirs.*
btop
htop
.vscode
.DS_store
.pre-commit-config.yaml
